
    footer img {
        width: 32%;
        padding: 15px 0 0 0;
    }

    .footer__logo {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    }

    .fa-utensils {
        margin: 0 12px 0 0;
            font-size: 10px;
        
    }

    .fa-hands-helping {

        font-size: 9px;
        margin:0 8px 0 0;
    }

    .contact a{
        text-decoration:none;
        color:white;
      
    }

    .footer-accueil, .footer-menus {
    
        background-color: rgba(51, 48, 48, 0.918);
        color: white;
        padding: 5px 10px 25px 15px;
    }

    footer>.footer-menus {
         position: relative;
         z-index: 2;
         top:200px;

         width: 95%;


         border: 5px solid blue;
    
    }

