

    
    footer img {
        width: auto;
        height: auto;
        padding: 15px 0 0 0;
        @include ecran-large {
            padding: 15px 0 15px 0;
        }
        
    }

    .footer__logo {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
        @include ecran-large {
            flex:100%;
            text-align: center;
        }
    }

    .fa-utensils {
        margin: 0 12px 0 0;
        font-size: 10px;
        
    }

    .fa-hands-helping {

        font-size: 9px;
        margin:0 8px 0 0;
    }

    .contact a{
        text-decoration:none;
        color:white;
      
    }

    .footer-accueil, .footer-menus {
    
        background-color: rgba(51, 48, 48, 0.918);
        color: white;
        padding: 5px 10px 25px 15px;

        @include ecran-large {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
   
    }

