
    .headerMenus__top {

        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;

       

        @include logo-shadow;

    }

    .headerMenus {
    position:sticky;
    top:0px;
    z-index:-1;
    }

   

    /*.fa-arrow-left {
        color:black;
    }*/

    .headerM__fleche{
        width: 30%;
    }

    .headerM__logoOMF>img {
        width: 60%;
        padding: 8px 8px;

    }

   

    .headerMenus__photo img {
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
