.headerAccueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;

}


header img {
     width:auto;
     height: auto;
}

.headerA__logoOMF {
   
    background-color:white;
    padding: 12px;

    @include logo-shadow;
       
}

.headerA__map {
    flex: 100%;
    background-color: rgb(165, 154, 154);
}

.headerA__map > .fa-map-marker-alt {
    padding: 10px;
}


.headerA__map > input {
    border: transparent;
    background-color: transparent;
    padding: 0 0 0 15px;
    color: black;

}

::placeholder {
    background-color: rgb(165, 154, 154);
    padding: 0 0 0 15px;
    color:black;
    font-weight: bold;

}




    
