
    nav {
        background-color: white;
        padding: 25px 25px 25px 15px;


        @include ecran-large {
            padding: 25px 200px 25px 200px;
        }
           
    }

    .nav-p{
        
        flex:70%;


        border:3px solid blue;
    }

    

    .nav-chiffre {

        position: relative;
        right:8px;
        margin-right: 5px;

        border-radius: 12px;

        text-align: center;
        padding:4px 1px 4px 1px;
      
        background-color:$color-primary;
        color:white;

        flex:0.5%;



        border:3px solid red;
    }

    .nav-logo {
        text-align: center;
        margin-right: 10px;
        flex:7%;

        border:3px solid rgb(3, 190, 3);
        &:hover {
            color:$color-primary;
        }
    }

    

    

    .nav__choisir, .nav__composer, .nav__deguster {

       display: flex;
       align-items: center;
       flex-wrap: wrap;

        margin: 0 0 15px 0;
        padding:10px 0 10px 0;
    
        border-radius: 25px;
        background-color:rgb(218, 208, 208);

        position: relative;
        left:8px;

        
            @include nav-shadow;
        
        &:hover {
            background-color:rgb(233, 198, 253);
        }
      
    }