

@media screen and (max-width:667px) {

    .wrapper{
        max-width: 667px;
        margin: 0 1%;

        background-color: rgb(253, 193, 193);
    }



    body {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;

        max-width: 667px;

        background-color:rgb(69, 125, 228);

    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        text-align: center;
    }

    header img {
         width: 40%;
    }

    .header__logo {
       
        background-color:white;
        padding: 12px;
           
    }

    .header__map {
        flex: 100%;
        background-color: rgb(165, 154, 154);
    }

    .header__map > .fa-map-marker-alt {
        padding: 10px;
    }


    .header__map > input {
        border: transparent;
        background-color: transparent;
        padding: 0 0 0 15px;
        color: black;

    }

    ::placeholder {
        background-color: rgb(165, 154, 154);
        padding: 0 0 0 15px;
        color:black;
        font-weight: bold;

    }

    
    
    
    .accroche {
            text-align: center;
            font-size: 18px;
            background-color: rgb(218, 208, 208);
            padding:20px;
        }

    .accroche__titre {
       font-weight: bold;
       margin: 15px;
    }

    .accroche__bouton {

        padding:12px 20px 12px 20px;
        border-radius: 20px;
        color:white;
        font-weight: bold;
        background-color: blueviolet;
        margin: 10px 0 25px 0;
    }


    .menu-a-la-francaise__titre, .menu-note-enchantee__titre, .menu-delice-des-sens__titre, .menu-palette-du-gout__titre {
    font-family: 'Shrikhand', cursive;
    } 

    

    nav {
        background-color: white;
        padding: 25px 0 25px 0;


        border: 1px solid black;
    }


    .nav__p1, .nav__p2, .nav__p3 {

        text-align: center;
        padding: 28px 28px;
        border-radius: 30px;
        background-color:rgb(218, 208, 208);
    }


    .restaurants {
        background-color: rgb(218, 208, 208);
        padding: 25px 0 55px 0;

    }

    .restaurants img {
        object-fit:cover;
        border-radius:15px 15px 0 0 ;
        width: 100%;
        height: 160px;
    }

    .palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
        background-color: white;
        border-radius: 0 0 15px 15px;


        border: 1px solid black;

    }

    .restaurants div>.p {
        padding: 0 0 0 15px;
        line-height: 3px;
    }

    .restaurants div>a {
        text-decoration: none;
        color: black;
    }

    .palette-du-gout__titreAccueil, .note-enchantee__titreAccueil, .francaise__titreAccueil, .delice-des-sens__titreAccueil {
        font-weight: bold;
       

    }

    footer img {
        width: 32%;
        padding: 15px 0 0 0;
    }

    .footer__logo {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    }

    footer {
        background-color: rgba(87, 79, 79, 0.918);
        color: white;
        padding: 5px 10px 25px 10px;
    }


   


    
    
}