@media screen and (max-width: 667px) {
  .wrapper {
    max-width: 667px;
    margin: 0 1%;
    background-color: #fdc1c1;
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    max-width: 667px;
    background-color: #f5df1e;
  }
  .headerA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header img {
    width: 40%;
  }
  .header__logoOMF {
    background-color: white;
    padding: 12px;
  }
  .header__map {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    background-color: #a59a9a;
  }
  .header__map > .fa-map-marker-alt {
    padding: 10px;
  }
  .header__map > input {
    border: transparent;
    background-color: transparent;
    padding: 0 0 0 15px;
    color: black;
  }
  ::-webkit-input-placeholder {
    background-color: #a59a9a;
    padding: 0 0 0 15px;
    color: black;
    font-weight: bold;
  }
  :-ms-input-placeholder {
    background-color: #a59a9a;
    padding: 0 0 0 15px;
    color: black;
    font-weight: bold;
  }
  ::-ms-input-placeholder {
    background-color: #a59a9a;
    padding: 0 0 0 15px;
    color: black;
    font-weight: bold;
  }
  ::placeholder {
    background-color: #a59a9a;
    padding: 0 0 0 15px;
    color: black;
    font-weight: bold;
  }
  .accroche {
    text-align: center;
    font-size: 18px;
    background-color: #dad0d0;
    padding: 20px;
  }
  .accroche__titre {
    font-weight: bold;
    margin: 15px;
  }
  .accroche__bouton {
    padding: 12px 20px 12px 20px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: blueviolet;
    margin: 10px 0 25px 0;
  }
  .menus__titre {
    font-family: 'Shrikhand', cursive;
  }
  nav {
    background-color: white;
    padding: 25px 0 25px 0;
  }
  .nav__p1, .nav__p2, .nav__p3 {
    text-align: center;
    padding: 28px 28px;
    border-radius: 30px;
    background-color: #dad0d0;
  }
  .restaurants {
    background-color: #dad0d0;
    padding: 25px 0 55px 0;
  }
  .restaurants img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 160px;
  }
  .palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
    background-color: white;
    border-radius: 15px;
    margin: 0 0 10px 0;
  }
  .restaurants div > .p {
    padding: 0 0 0 15px;
    line-height: 3px;
  }
  .restaurants div > a {
    text-decoration: none;
    color: black;
  }
  .palette-du-gout__titreAccueil, .note-enchantee__titreAccueil, .francaise__titreAccueil, .delice-des-sens__titreAccueil {
    font-weight: bold;
  }
  footer img {
    width: 32%;
    padding: 15px 0 0 0;
  }
  .footer__logo {
    -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
  }
  footer {
    background-color: rgba(87, 79, 79, 0.918);
    color: white;
    padding: 5px 10px 25px 10px;
  }
  /* PAGE CUISINE */
  .Hautpage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: white;
  }
  .headerCuisine__fleche {
    width: 30%;
    text-decoration: none;
    border: 1px solid black;
  }
  .headerCuisine__logoOMF > img {
    width: 60%;
    padding: 8px 8px;
  }
  .headerCuisine__photo img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 200px;
    border: 1px solid black;
  }
  .menus {
    background-color: #dad0d0;
    border-radius: 30px 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 10px 0 10px;
    border: 2px solid black;
  }
  .menus__titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0px 20px 0 0px;
  }
  .menus__entrees > div, .menus__plats > div, .menus__desserts > div {
    margin: 0 0 10px 0;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
    line-height: 0.2px;
    font-size: 14px;
  }
  .menus__infos aside {
    color: red;
    font-size: 12px;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */