

@media screen and (max-width:667px) {

    .wrapper, footer{
        max-width: 667px;
        margin: 0 2%;

        background-color: rgb(253, 193, 193);
    }



    body {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;

        max-width: 667px;

        background-color:cornflowerblue;

    }

    header, .accroche {
        text-align: center;
    }

    .header__logo {
        background-color:white;
    }

    


    .menu-a-la-francaise__titre, .menu-note-enchantee__titre, .menu-delice-des-sens__titre, .menu-palette-du-gout__titre {
    font-family: 'Shrikhand', cursive;
    } 

    .restaurants {
        border: 3px solid black;

        width: 100%;
    }


    
    
}