

@media screen and (max-width:667px) {

    .wrapper{
        max-width: 667px;
        margin: 0 1%;

        background-color: rgb(253, 193, 193);
    }



    body {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;

        max-width: 667px;

        background-color:rgb(245, 223, 30);

    }

    .headerA{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        text-align: center;
    }

    header img {
         width: 40%;
    }

    .header__logoOMF {
       
        background-color:white;
        padding: 12px;
           
    }

    .header__map {
        flex: 100%;
        background-color: rgb(165, 154, 154);
    }

    .header__map > .fa-map-marker-alt {
        padding: 10px;
    }


    .header__map > input {
        border: transparent;
        background-color: transparent;
        padding: 0 0 0 15px;
        color: black;

    }

    ::placeholder {
        background-color: rgb(165, 154, 154);
        padding: 0 0 0 15px;
        color:black;
        font-weight: bold;

    }

    
    
    
    .accroche {
            text-align: center;
            font-size: 18px;
            background-color: rgb(218, 208, 208);
            padding:20px;
        }

    .accroche__titre {
       font-weight: bold;
       margin: 15px;
    }

    .accroche__bouton {

        padding:12px 20px 12px 20px;
        border-radius: 20px;
        color:white;
        font-weight: bold;
        background-color: blueviolet;
        margin: 10px 0 25px 0;
    }


    .menus__titre {
    font-family: 'Shrikhand', cursive;
    } 

    

    nav {
        background-color: white;
        padding: 25px 0 25px 0;

    }


    .nav__p1, .nav__p2, .nav__p3 {

        text-align: center;
        padding: 28px 28px;
        border-radius: 30px;
        background-color:rgb(218, 208, 208);
    }


    .restaurants {
        background-color: rgb(218, 208, 208);
        padding: 25px 0 55px 0;

    }

    .restaurants img {
        object-fit:cover;
        border-radius:15px 15px 0 0 ;
        width: 100%;
        height: 160px;
    }

    .palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
        background-color: white;
        border-radius: 15px;
        margin: 0 0 12px 0;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    .btn-fav {
        align-self: center;
        padding:0 15px 0 0;
    }

    .restaurants div>.p {
        padding: 0 0 0 15px;
        line-height: 3px;
    }

    

    .restaurants div>a {
        text-decoration: none;
        color: black;
    }

    .palette-du-gout__titreAccueil, .note-enchantee__titreAccueil, .francaise__titreAccueil, .delice-des-sens__titreAccueil {
        font-weight: bold;
       

    }

    footer img {
        width: 32%;
        padding: 15px 0 0 0;
    }

    .footer__logo {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    }

    footer {
    
        background-color: rgba(51, 48, 48, 0.918);
        color: white;
        padding: 5px 10px 25px 10px;
    }

    /* PAGE CUISINE */

    .Hautpage {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        background-color: white;
    }

    .fa-arrow-left {
        color:black;
    }


    .headerCuisine__fleche{
        width: 30%;
        text-decoration: none;


        border: 1px solid black;
    }

    .headerCuisine__logoOMF>img {
        width: 60%;
        padding: 8px 8px;
    }



    .headerCuisine__photo img {
        object-fit: cover;
        width: 100%;
        height: 200px;


        border:1px solid black;
    }

    
    .menus {
            background-color:rgb(218, 208, 208);
            border-radius: 30px 30px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 2px 10px 100px 10px;

            border: 2px solid black;
    
        }

    

    .menus__titre {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0px 20px 0 0px;
    }


    .menus__entrees>div, .menus__plats>div, .menus__desserts>div{

        margin:0 0 10px 0;
        background-color: white;
        border-radius: 10px;
        padding: 1px;
        line-height: 0.2px;
        font-size: 14px;
    }

    .menus__infos aside{
        color:red;
        font-size: 12px;
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
    }







    

   


    
    
}