body {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.accroche {
  font-size: 18px;
}

.accroche__titre {
  font-weight: bold;
}

.nav-p {
  font-weight: bold;
}

.nav-chiffre {
  font-size: smaller;
}

.headerM__fleche {
  text-decoration: none;
}

.nom-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 5vmin;
}

.menus__intitule {
  line-height: 20px;
}

.restaurants div > .p {
  line-height: 5px;
}

.palette-du-gout__titreAccueil, .note-enchantee__titreAccueil, .francaise__titreAccueil, .delice-des-sens__titreAccueil {
  font-weight: bold;
}

.mention {
  font-size: small;
  line-height: 2px;
}

.presentation p, .prix {
  font-size: smaller;
}

.prix {
  font-weight: bold;
}

.accroche__bouton {
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: #9356DC;
  margin: 10px 0 25px 0;
  box-shadow: 3px 4px 9px 3px rgba(0, 0, 0, 0.54);
}
.accroche__bouton--outline {
  border: #9356DC;
}
.accroche__bouton--active:hover {
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.47);
}

.btn-commander {
  align-self: center;
  padding: 12px 40px 12px 40px;
  background-color: #9356DC;
  border-radius: 40px;
  color: white;
  box-shadow: 3px 4px 9px 3px rgba(0, 0, 0, 0.54);
  margin: 50px 0 0 0;
}
.btn-commander--outline {
  border: #9356DC;
}
.btn-commander:hover {
  background: #9356DC;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.47);
}

.btn-fav {
  align-self: center;
  position: absolute;
  right: 15px;
}
.btn-fav--size {
  font-size: 24px;
}
.btn-fav--active {
  align-self: center;
  position: relative;
  right: 15px;
  background: linear-gradient(45deg, #9356DC 0%, #FF79DA 100%);
  color: transparent;
  -webkit-background-clip: text;
  transition-duration: 900ms;
  opacity: 0;
}
.btn-fav--active:hover {
  opacity: 1;
  transform: scaleY(1);
}

.btn-accueil {
  position: absolute;
  z-index: 0;
  right: 15px;
  bottom: 25px;
}
.btn-accueil--active {
  position: absolute;
  z-index: 1;
  right: 15px;
  bottom: 25px;
  background: linear-gradient(45deg, #9356DC 0%, #FF79DA 100%);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition-duration: 900ms;
}
.btn-accueil--active:hover {
  opacity: 1;
}

/*

.fa-heart{

    opacity: 0;
    transition-duration:900ms;
    background: linear-gradient(45deg, $color-primary 0%, $color-secondary 100%);
    color: transparent;
    -webkit-background-clip: text;


        &:hover {

             opacity: 1;

        }
}
*/
.palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
  position: relative;
}

.mention {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 2px 15px 2px 15px;
}

.checked {
  background-color: #99E2D0;
  padding: 25px 40px 15px 40px;
  border-radius: 0 15px 15px 0;
  font-size: 30px;
  text-align: center;
  color: white;
}

.fa-check-circle:hover {
  transform: rotate(360deg);
  transition: all 2s linear;
}

.headerAccueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header img {
  width: auto;
  height: auto;
}

.headerA__logoOMF {
  background-color: white;
  padding: 12px;
  box-shadow: 0px 9px 0px -1px rgba(0, 0, 0, 0.29);
}

.headerA__map {
  flex: 100%;
  background-color: #a59a9a;
}

.headerA__map > .fa-map-marker-alt {
  padding: 10px;
}

.headerA__map > input {
  border: transparent;
  background-color: transparent;
  padding: 0 0 0 15px;
  color: black;
}

::placeholder {
  background-color: #a59a9a;
  padding: 0 0 0 15px;
  color: black;
  font-weight: bold;
}

.headerMenus {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.headerMenus__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding-left: 5px;
  box-shadow: 0px 9px 0px -1px rgba(0, 0, 0, 0.29);
}

aside {
  position: sticky;
  top: 40px;
  z-index: -1;
}

.menus-photo img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.fa-arrow-left {
  color: black;
  width: 5%;
}

.headerM__fleche {
  border: 1px solid black;
}

.headerM__logoOMF {
  border: 3px solid violet;
  text-align: center;
  flex: 80%;
}

.headerM__logoOMF > img {
  padding: 7px 7px;
  width: auto;
  height: auto;
  border: 3px solid #1b0ce9;
}

footer img {
  width: auto;
  height: auto;
  padding: 15px 0 0 0;
}
@media screen and (min-width: 1024px) {
  footer img {
    padding: 25px 0 15px 0;
  }
}

.footer__logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    flex: 100%;
    text-align: center;
  }
}

.fa-utensils {
  margin: 0 12px 0 0;
  font-size: 10px;
}

.fa-hands-helping {
  font-size: 9px;
  margin: 0 8px 0 0;
}

.contact a {
  text-decoration: none;
  color: white;
}

.footer-accueil, .footer-menus {
  background-color: rgba(51, 48, 48, 0.918);
  color: white;
  padding: 5px 10px 25px 15px;
}
@media screen and (min-width: 1024px) {
  .footer-accueil, .footer-menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

nav {
  background-color: white;
  padding: 25px 25px 25px 15px;
}
@media screen and (min-width: 1024px) {
  nav {
    padding: 25px 400px 25px 400px;
  }
}

.nav-p {
  flex: 70%;
  border: 3px solid blue;
}

.nav-chiffre {
  position: relative;
  right: 8px;
  margin-right: 5px;
  border-radius: 12px;
  text-align: center;
  padding: 4px 0.5% 4px 0.5%;
  background-color: #9356DC;
  color: white;
  flex: 0.5%;
  border: 3px solid red;
}

.nav-logo {
  text-align: center;
  margin-right: 10px;
  flex: 7%;
  border: 3px solid #03be03;
}
.nav-logo:hover {
  color: #9356DC;
}

.nav__choisir, .nav__composer, .nav__deguster {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  padding: 10px 0 10px 0;
  border-radius: 25px;
  background-color: #dad0d0;
  position: relative;
  left: 8px;
  box-shadow: 3px 4px 9px 3px rgba(0, 0, 0, 0.54);
}
@media screen and (min-width: 1024px) {
  .nav__choisir, .nav__composer, .nav__deguster {
    margin: 0 0 25px 0;
  }
}
.nav__choisir:hover, .nav__composer:hover, .nav__deguster:hover {
  background-color: #e9c6fd;
}

.accroche {
  text-align: center;
  background-color: #dad0d0;
  padding: 20px;
}

.accroche__titre {
  margin: 15px;
}

.restaurants {
  background-color: #dad0d0;
  padding: 25px 15px 55px 15px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 25px 150px 55px 150px;
  }
}

.restaurants img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 150px;
}
@media screen and (min-width: 1024px) {
  .restaurants img {
    height: 200px;
  }
}

.palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
  background-color: white;
  border-radius: 15px;
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.47);
  border: 3px solid red;
}
@media screen and (min-width: 1024px) {
  .palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
    margin: 0 0 20px 0;
  }
}

.restaurants div > .p {
  padding: 0 0 0 15px;
  border: 4px solid greenyellow;
  display: block;
}

div > .p h4 {
  margin-bottom: 4px;
}

.restaurants div > a {
  text-decoration: none;
  color: black;
}

.menus {
  background-color: #dad0d0;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 10px 70px 10px;
}
@media screen and (min-width: 1024px) {
  .menus {
    padding: 10px 90px 70px 90px;
  }
}

.menus-section-titre::after {
  content: "";
  background-color: #99E2D0;
  margin-top: 5px;
  width: 35px;
  height: 5px;
  display: block;
}

.menus__restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  border: 5px solid lightslategrey;
}

.menus__intitule {
  background-color: white;
  border-radius: 15px;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.47);
  border: 2px solid blue;
}
.menus__intitule:hover .checked {
  transform-origin: right;
  transform: translateX(-100px);
  background-color: yellow;
}

.presentation {
  display: block;
  background-color: #05e2ff;
  min-width: 0;
  border: 2px solid #660080;
}

.presentation__titre, .presentation__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.presentation, .prix {
  margin: 0 15px 0 5px;
}

.boite {
  display: flex;
  border: 2px solid fuchsia;
}

.prix {
  align-self: flex-end;
  margin-right: 4px;
  border: 2px solid #1a1818;
}

/*# sourceMappingURL=main.css.map */
