body {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.accroche {
  font-size: 18px;
}

.accroche__bouton, .btn-commander {
  font-size: 15px;
}

.accroche__titre {
  font-weight: bold;
}

.nav-p {
  font-weight: bold;
}

.nav-chiffre {
  font-size: smaller;
}

.headerM__fleche {
  text-decoration: none;
}

.nom-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}

.menus-section-titre {
  font-size: 15px;
}

.menus__intitule, .p {
  line-height: 14px;
}

.palette-du-gout__titreAccueil, .note-enchantee__titreAccueil, .francaise__titreAccueil, .delice-des-sens__titreAccueil, .presentation__titre, .prix {
  font-weight: bold;
}

.mention {
  font-size: small;
  line-height: 2px;
}

.presentation p, .prix {
  font-size: smaller;
}

.accroche__bouton {
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background: linear-gradient(45deg, #9356DC 0%, #FF79DA 100%);
  margin: 15px 0 25px 0;
}
.accroche__bouton--outline {
  border: #9356DC;
}
.accroche__bouton--active:hover {
  cursor: pointer;
  filter: brightness(110%);
  box-shadow: 11px 14px 5px -8px rgba(0, 0, 0, 0.54);
}

.btn-commander {
  align-self: center;
  padding: 12px 40px 12px 40px;
  background: linear-gradient(45deg, #9356DC 0%, #FF79DA 100%);
  margin: 50px 0 0 0;
  border-radius: 40px;
  color: white;
}
.btn-commander--outline {
  border: 1px solid transparent;
}
.btn-commander--outline:hover {
  cursor: pointer;
  box-shadow: 11px 14px 5px -8px rgba(0, 0, 0, 0.54);
  filter: brightness(110%);
}

.btn-fav {
  align-self: center;
  position: absolute;
  z-index: 0;
  right: 15px;
  font-size: 24px;
}
.btn-fav--active {
  align-self: center;
  position: absolute;
  right: 6px;
  z-index: 1;
  background: linear-gradient(45deg, #9356DC 0%, #FF79DA 100%);
  padding: 8px;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  transition-duration: 940ms;
  opacity: 0;
}
.btn-fav--active:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2, 1.2);
}

.btn-accueil {
  position: absolute;
  z-index: 0;
  right: 15px;
  bottom: 25px;
}
.btn-accueil--active {
  position: absolute;
  z-index: 1;
  right: 7px;
  bottom: 17px;
  background: -webkit-linear-gradient(45deg, #9356DC 0%, #FF79DA 100%);
  color: transparent;
  padding: 8px;
  -webkit-background-clip: text;
  opacity: 0;
  transition-duration: 900ms;
}
.btn-accueil--active:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2, 1.2);
}

.palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
  position: relative;
}

.mention {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 2px 15px 2px 15px;
}

.fa-check-circle {
  color: white;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
}

/*debut animation logo*/
.checked {
  background-color: #99E2D0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0px;
  float: none;
  transition: 900ms;
}

.menus__intitule:hover .fa-check-circle {
  animation: rotate 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
.menus__intitule:hover .checked {
  cursor: pointer;
  transition: 900ms;
  width: 100px;
  transition-timing-function: ease-out;
}

.container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #9356DC 0%, #DDD5DD 49%, #FF79DA 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 700ms forwards;
  animation-delay: 2700ms;
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
h2 {
  font-family: "Shrikhand", cursive;
  font-size: 6vh;
  padding: 5px 0 5px 5px;
  position: relative;
  color: cornsilk;
  -webkit-text-stroke: 1px solid transparent;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 5px;
  left: 3px;
  width: 0%;
  height: 100%;
  color: #01010e;
  -webkit-text-stroke: 1px #01010f;
  overflow: hidden;
  animation: animLettre 3700ms linear forwards;
}

@keyframes animLettre {
  0% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
.cssload-container {
  position: absolute;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 6px solid rgba(204, 204, 204, 0.27);
  border-left-color: rgba(0, 0, 0, 0.37);
  border-radius: 5869px;
  -o-border-radius: 5869px;
  -ms-border-radius: 5869px;
  -webkit-border-radius: 5869px;
  -moz-border-radius: 5869px;
}

.cssload-whirlpool {
  margin: -147px 0 0 -147px;
  height: 294px;
  width: 294px;
  animation: cssload-rotate 4850ms linear infinite;
  -o-animation: cssload-rotate 4850ms linear infinite;
  -ms-animation: cssload-rotate 4850ms linear infinite;
  -webkit-animation: cssload-rotate 4850ms linear infinite;
  -moz-animation: cssload-rotate 4850ms linear infinite;
}

.cssload-whirlpool::before {
  content: "";
  margin: -135px 0 0 -135px;
  height: 259px;
  width: 259px;
  animation: cssload-rotate 4850ms linear backwards;
  -o-animation: cssload-rotate 4850ms linear infinite;
  -ms-animation: cssload-rotate 4850ms linear infinite;
  -webkit-animation: cssload-rotate 4850ms linear infinite;
  -moz-animation: cssload-rotate 4850ms linear infinite;
}

.cssload-whirlpool::after {
  content: "";
  margin: -170px 0 0 -170px;
  height: 329px;
  width: 329px;
  animation: cssload-rotate 8700ms linear infinite;
  -o-animation: cssload-rotate 8700ms linear infinite;
  -ms-animation: cssload-rotate 8700ms linear infinite;
  -webkit-animation: cssload-rotate 8700ms linear infinite;
  -moz-animation: cssload-rotate 8700ms linear infinite;
}

@keyframes cssload-rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-rotate {
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-rotate {
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-rotate {
  100% {
    -moz-transform: rotate(360deg);
  }
}
.headerAccueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header img {
  width: auto;
  height: auto;
}

.headerA__logoOMF {
  background-color: white;
  padding: 12px 0 12px 0;
  box-shadow: 0px 8px 0px -1px rgba(0, 0, 0, 0.29);
}

.headerA__map {
  flex: 100%;
  background-color: #d1caca;
}

.headerA__map > .fa-map-marker-alt {
  padding: 10px;
}

.headerA__map > input[type=text] {
  border: none;
  background: transparent;
  outline: none;
  padding: 0 0 0 15px;
}

::placeholder {
  background-color: #d1caca;
  padding: 0 0 0 15px;
  color: black;
  font-weight: bold;
}

.headerMenus {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
}

.headerMenus__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding-left: 5px;
  box-shadow: 0px 8px 0px -1px rgba(0, 0, 0, 0.29);
}

aside {
  position: sticky;
  top: 40px;
  z-index: -1;
}

.menus-photo img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
@media screen and (min-width: 1024px) {
  .menus-photo img {
    position: fixed;
    right: 0;
    top: 50px;
    width: 50%;
    height: 100%;
    filter: opacity(70%);
  }
}

.fa-arrow-left {
  color: black;
  width: 5%;
}

.headerM__logoOMF {
  text-align: center;
  flex: 80%;
}

.headerM__logoOMF > img {
  padding: 7px 7px;
  width: auto;
  height: auto;
}

footer img {
  width: auto;
  height: auto;
  padding: 15px 0 0 0;
}
@media screen and (min-width: 1024px) {
  footer img {
    padding: 25px 0 15px 0;
  }
}

.footer__logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    flex: 100%;
    text-align: center;
  }
}

.fa-utensils {
  margin: 0 12px 0 0;
  font-size: 10px;
}

.fa-hands-helping {
  font-size: 9px;
  margin: 0 8px 0 0;
}

.contact a {
  text-decoration: none;
  color: white;
}

.footer-accueil, .footer-menus {
  background-color: rgba(51, 48, 48, 0.918);
  color: white;
  padding: 5px 10px 25px 15px;
}

@media screen and (min-width: 1024px) {
  .footer-accueil {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .footer-menus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-menus p {
    line-height: 1px;
  }
}

nav {
  background-color: white;
  padding: 25px 25px 25px 15px;
}
@media screen and (min-width: 1024px) {
  nav {
    padding: 25px 400px 25px 400px;
    margin: 0 150px 30px 150px;
  }
}

.nav-p {
  flex: 70%;
}

.nav-chiffre {
  position: relative;
  right: 8px;
  margin-right: 5px;
  border-radius: 12px;
  text-align: center;
  padding: 4px 0.5% 4px 0.5%;
  background-color: #9356DC;
  color: white;
  flex: 0.5%;
}
@media screen and (min-width: 1024px) {
  .nav-chiffre {
    width: 8px;
    border-radius: 40%;
  }
}

.nav-logo {
  text-align: center;
  margin-right: 10px;
  flex: 7%;
}
.nav-logo:hover {
  color: #9356DC;
}

.nav__choisir, .nav__composer, .nav__deguster {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  padding: 8px 0 8px 0;
  border-radius: 25px;
  background-color: #dad0d0;
  position: relative;
  left: 8px;
  box-shadow: 11px 14px 5px -8px rgba(0, 0, 0, 0.54);
}
.nav__choisir:hover, .nav__composer:hover, .nav__deguster:hover {
  background-color: #e9c6fd;
}

.accroche {
  text-align: center;
  background-color: #e6dede;
  padding: 20px;
}

.accroche__titre {
  margin: 15px;
}

.restaurants {
  background-color: #e6dede;
  padding: 25px 15px 55px 15px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 25px 150px 55px 150px;
  }
}

.restaurants img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 150px;
}
@media screen and (min-width: 1024px) {
  .restaurants img {
    height: 200px;
    width: 100%;
  }
}

.restaurants a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
  position: relative;
  background-color: white;
  border-radius: 15px;
  margin: 0 0 12px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.47);
}
@media screen and (min-width: 1024px) {
  .palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
    margin: 0 0 20px 0;
  }
}

.restaurants div > .p {
  padding: 0 0 0 15px;
  display: block;
}

div > .p h4 {
  margin-bottom: 4px;
}

.restaurants div > a {
  text-decoration: none;
  color: black;
}

.menus {
  background-color: #e6dede;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 10px 70px 10px;
}
@media screen and (min-width: 1024px) {
  .menus {
    padding: 10px 30px 70px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .large-screen {
    padding: 10px 100px 70px 100px;
    width: 40%;
    position: absolute;
    top: 50px;
    background-color: #fcf5f5;
    height: auto;
  }
}

.menus-section-titre::after {
  content: "";
  background-color: #99E2D0;
  margin-top: 5px;
  width: 35px;
  height: 5px;
  display: block;
}

.menus__restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.menus__entrees {
  animation: animEntrees 5s;
}

@keyframes animEntrees {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menus__plats {
  animation: animPlats 8s;
}

@keyframes animPlats {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menus__desserts {
  animation: animDesserts 11s;
}

@keyframes animDesserts {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menus__intitule {
  background-color: white;
  border-radius: 15px;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  box-shadow: 0px 4px 11px 6px rgba(0, 0, 0, 0.47);
  position: relative;
  overflow: hidden;
}

.presentation {
  display: block;
  min-width: 0;
}

.presentation__titre, .presentation__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.presentation {
  margin: 0 0 0 15px;
}

.prix {
  margin: 0 15px 0 5px;
}

.prix {
  padding: 0 15px 0 0;
}

.boite {
  display: flex;
  flex-direction: row;
}

.prix {
  align-self: flex-end;
  margin-right: 4px;
}

/*# sourceMappingURL=main.css.map */
