.palette-du-gout,.note-enchantee,.francaise,.delice-des-sens {
    position: relative;
}

.mention {
    position: absolute;
    top:10px;
    right:10px;
    background-color: $color-tertiary;
    padding:2px 15px 2px 15px;
   
}