.accroche__bouton {

    padding:12px 20px 12px 20px;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    background-color:$color-primary;
    margin: 10px 0 25px 0;
}


.btn-commander {
    align-self: center;
    padding: 12px 40px 12px 40px;
    background-color:$color-primary;
    border-radius: 40px;
    color:white;

    margin:50px 0 0 0;
}

.btn-fav {
    align-self: center;
    margin: 0 15px 0 0;
    &--size {
        font-size: 24px;
    }
}

.fa-heart{
    background-color: transparent;
    transition-duration:900ms;


        &:hover {
             background-color:$color-primary;
            
        }
}




