.accroche__bouton {

    padding:12px 20px 12px 20px;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    background-color:$color-primary;
  
    margin: 10px 0 25px 0;
    @include nav-shadow;
    &--outline {
          border:$color-primary;
    }
    &--active:hover {
       @include lighten-color;
        @include box-shadow;
    }
    
}


.btn-commander {
    align-self: center;
    padding: 12px 40px 12px 40px;
    background-color:$color-primary;
   
    border-radius: 40px;
    color:white;
    @include nav-shadow;
    &--outline {
        border: $color-primary;
    }
    
    &:hover {
        @include lighten-color;
        @include box-shadow;

    }

    margin:50px 0 0 0;
}



.btn-fav {
    align-self: center;
    position: absolute;
    right:15px;
   
    
    &--size {
        font-size: 24px;
    }

    &--active {
       align-self: center;
        position: relative;
        right:15px;

        background: linear-gradient(45deg, $color-primary 0%, $color-secondary 100%);
        color: transparent;
       -moz-background-clip: text;
        transition-duration: 900ms;
       opacity: 0;
       
       
        &:hover {
            opacity: 1;
            transform: scaleY(1);
            
        }
    }

}




.btn-accueil {
    position: absolute;
    z-index: 0;
    right:15px;
    bottom:25px;
   
    &--active {
        position: absolute;
        z-index: 1;
        right: 15px;
        bottom: 25px;
        background: linear-gradient(45deg, $color-primary 0%, $color-secondary 100%);
        color: transparent;
        -webkit-background-clip: text;
    
        opacity: 0;
        transition-duration: 900ms;
        &:hover {
            opacity: 1;
        }
    }
}


/*

.fa-heart{
   
    opacity: 0;
    transition-duration:900ms;
    background: linear-gradient(45deg, $color-primary 0%, $color-secondary 100%);
    color: transparent;
    -webkit-background-clip: text;


        &:hover {
             
             opacity: 1;

        }
}
*/




