
    .accroche {
        text-align: center;
        background-color: $color-background;
        padding:20px;
    }
    
    .accroche__titre {
    margin: 15px;
    }
    
    
    
    .restaurants {
        background-color: $color-background;
        padding: 25px 15px 55px 15px;
        

        @include ecran-large {
            padding: 25px 150px 55px 150px;
        }

    }

    .restaurants img {
        object-fit:cover;
        border-radius:15px 15px 0 0 ;
        width: 100%;
        height: 150px;

        @include ecran-large {
            height: 200px;
        }
    }

    .palette-du-gout, .note-enchantee, .francaise, .delice-des-sens {
        background-color: white;
        border-radius: 15px;
        margin: 0 0 12px 0;

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;

        @include ecran-large {
            margin: 0 0 20px 0;
        }

        @include box-shadow;

        



    }

   

    
    .restaurants div>.p {
        padding: 0 0 0 15px;
       display:block;

       

       

    }

    div>.p h4{
        margin-bottom: 4px;
    }
    

    .restaurants div>a {
        text-decoration: none;
        color: black;
    }
