@mixin logo-shadow {
    box-shadow: 0px 9px 0px -1px rgba(0,0,0,0.29);
}


@mixin nav-shadow {
    box-shadow: 3px 4px 9px 3px rgba(0,0,0,0.54);
   }


@mixin box-shadow {
    box-shadow: 0px 4px 11px 6px rgba(0,0,0,0.47);
}

@mixin lighten-color {
    background: $color-primary;
    background: linear-gradient(0deg,$color-primary 0%,$color-secondary 100%);
}

@mixin gradient {
    background: linear-gradient(45deg, $color-primary 0%, $color-secondary 100%)
}

$breakpoints: (ecran-large:1024px);
@mixin ecran-large {
    @media screen and (min-width:map-get($breakpoints, ecran-large)) {
        @content;
    }
}